Repository ArkEcosystem/elixir-client, pull requests merged in 2019-09, with the labels that each got.

#54 feat: crypto endpoint
  lib/arkecosystem/client/api/node.ex
  test/arkecosystem/client/node_test.exs
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Feature

#57 feat: add missing api endpoints
  lib/arkecosystem/client/api/node.ex
  lib/arkecosystem/client/api/rounds.ex
  lib/arkecosystem/client/api/transactions.ex
  test/arkecosystem/client/node_test.exs
  test/arkecosystem/client/rounds_test.exs
  test/arkecosystem/client/transactions_test.exs
Labels: Complexity: Low, Status: Contributor Approved, Type: Feature

#60 ci: adjust job triggers
  .github/workflows/test.yml
Labels: Complexity: Low

#61 ci: report coverage to codecov
  .github/workflows/test.yml
Labels: Complexity: Low
